In [4]:
# Reading packages
import pandas as pd

In [5]:
# Building a dataframe
data1 = {'id':[1,4,3,4,5],
         'gender':['f','m','f','f','m'],
         'ticket':[34.5,32.3,35.6,37.0,31.2],
         'count':[20,12,45,10,24]}
data2 = pd.DataFrame(data1)
data2

   id gender  ticket  count
0   1      f    34.5     20
1   4      m    32.3     12
2   3      f    35.6     45
3   4      f    37.0     10
4   5      m    31.2     24

In [25]:
# Building my condicional funcion to fix flag with column 'count'
def flag(x):
    if x <= 15:
        return 1
    else:
        return 0

In [26]:
# Building new column and Applying my function 'flag'
data2['my_flag'] = data2['count'].apply(flag)

In [27]:
# Print dataframe
print(data2)

   id gender  ticket  count  my_flag
0   1      f    34.5     20        0
1   4      m    32.3     12        1
2   3      f    35.6     45        0
3   4      f    37.0     10        1
4   5      m    31.2     24        0