# Count distinct values from a dataframe's column with nunique()
The objective of this notebook is only to show up how to use nunique() to count distinct values

In [1]:
# Reading packages
import pandas as pd

In [2]:
# Building a dataframe
data1 = {'id':[1,4,3,4,5,1],
         'gender':['f','m','f','f','m','f'],
         'ticket':[34.5,32.3,35.6,37.0,31.2,34.5],
         'count':[20,12,45,10,24,20]}
data2 = pd.DataFrame(data1)
data2

   id gender  ticket  count
0   1      f    34.5     20
1   4      m    32.3     12
2   3      f    35.6     45
3   4      f    37.0     10
4   5      m    31.2     24
5   1      f    34.5     20

In [3]:
# The first code verify how many rows there is on the gender column
# The second code verify how many distinct values there is on the gender column 
data2['gender'].count(), data2['gender'].nunique()

(6, 2)

In [4]:
# The first code verify how many rows there is on the id column
# The second code verify how many distinct values there is on the id column 
data2['id'].count(), data2['id'].nunique()

(6, 4)